$search-border-color: light-dark(rgb(198, 198, 198), rgb(48, 48, 48));

:host {
  width: 100%;
  display: flex;
  align-items: center;
}

.text-filter {
  font-size: inherit;
  font-weight: inherit;
  border-radius: 500px 0 0 500px;
  width: 100%;
}

.text-filter:focus,
.text-filter:focus-visible {
  border-color: light-dark(#1c62b9, white);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
}

.select-filter {
  min-width: 110px;
  border-radius: 0 500px 500px 0;
  border: 1px solid $search-border-color;
  border-left: none;
}
