@use "../../../app.component";

:host {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.list-utils {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 800px;
  width: 100%;
  gap: 0.8rem;
  height: 4rem;
}

.add-todo {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 88px;
  height: 100%;
  max-height: 2.4rem;
}

@media (width < app.$width-800-plus-padding) {

  .add-todo {
    height: 2.1rem;
  }
}
