@use "./app/app.component";

$button-default-color: light-dark(rgb(48, 233, 158), rgb(14, 112, 97));
$button-hover-default-color: light-dark(rgb(64, 249, 174), rgb(30, 128, 113));
$button-hover-text-color: light-dark(rgb(60, 60, 60), rgb(207, 207, 207));
$input-text-border-color: light-dark(rgb(198, 198, 198), rgb(48, 48, 48));

body {
  margin: 0;
  height: 100vh;
  width: 100vw;
}

:root {
  font-size: 10px;
  font-family: "Roboto", sans-serif;
  font-weight: normal;
  background-color: light-dark(white, black);
  color: light-dark(black, white);
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

.docs-light-mode {
  color-scheme: light;
}

.docs-dark-mode {
  color-scheme: dark;
}

input,
//select,
textarea {
  background-color: inherit;
  font-size: inherit;
  outline: none;
  border-radius: 500px;
  border: 1px solid $input-text-border-color;
}

a {
  color: inherit;
  text-decoration: none;
}

select,
button,
.a-button {
  background-color: $button-default-color;
  border: none;
  border-radius: 500px;
  font-size: inherit;
}

button:hover,
.a-button:hover {
  background-color: $button-hover-default-color;
  color: $button-hover-text-color;
  cursor: pointer;
}

select:hover {
  cursor: pointer;
}

@media (width > app.$width-800-plus-padding) {
  body {
    font-size: 1.8rem;
  }

  button,
  select,
  .a-button {
    padding: 0.8rem 1.6rem;
  }

  input,
  textarea {
    padding: 0.8rem 0.8rem 0.8rem 1.6rem;
  }
}

@media (width <= app.$width-800-plus-padding) {
  body {
    font-size: 1.6rem;
  }

  button,
  select,
  .a-button {
    padding: 0.6rem 1.2rem;
  }

  input,
  textarea {
    padding: 0.6rem 0.6rem 0.6rem 1.6rem;
  }
}
